.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 2vw;
  margin: 1vw;
  background-color: #888888;
  display: flex;
  max-width: 300px;
/*  flex: 0 1 24%;*/
  justify-content: space-between;
}

.card-content {
  text-wrap: inherit;
}

img {
  justify-items: center;
}
